@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kita bisa menambahkan style custom di bawah sini nanti */
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; /* Agar scroll terasa halus */
}