@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kita bisa menambahkan style custom di bawah sini nanti */
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; /* Agar scroll
  
  terasa halus */
}
/* --- CUSTOM SCROLLBAR --- */

/* Lebar Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Warna Jalur (Track) - Latar belakang scrollbar */
::-webkit-scrollbar-track {
  background: #111827; /* Sesuaikan dengan bg-gray-900 */
}

/* Warna Batang (Thumb) - Bagian yang digerakkan */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #9333ea); /* Gradasi Biru ke Ungu */
  border-radius: 5px;
  border: 2px solid #111827; /* Memberi jarak agar tidak menempel pinggir */
}

/* Warna Batang saat di-hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #7e22ce);
}